* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

.container {
    padding-left: 135px;
    padding-right: 135px;
    margin: 0 auto;
}

.header {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: column;
}

.header__logo:hover {
    transform: scale(1.2);
}

.header__nav {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: #333;
}

.nav_link {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 5px 15px;
}

.after_hover:hover {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 5px 15px;
}


.header__list {
    list-style-type: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top__right {
    background-image: url(../assets/image/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 43px;
    align-items: flex-end;
}

.top__right-change {
    background-image: url(../assets/image/header_change.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    margin-top: 43px;
    align-items: flex-end;
}

.inside_image {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #333;
    padding: 30px 49px 23px 20px;
    background-color: white;
    border-color: transparent;
}

.inside_image:hover {
    transform: scale(1.2);
}

.top__left {
    display: flex;
    flex-direction: column;
}

.top__buttons {
    display: flex;
    padding-bottom: 90px;
}

.left_button,
.right_button {
    width: 53px;
    height: 53px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    cursor: pointer;
}

.left_button {
    margin-right: 23px;
}

.left_button:hover,
.right_button:hover {
    color: #F9F9F9;
    transform: scale(1.2);
}

.button_line {
    max-width: 271px;
    height: 1px;
    align-self: center;
}

.top__titles {
    padding-top: 365px;
}

.top__second-title {
    padding-bottom: 90px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    color: #333;
}

.top__title {
    color: #BDBDBD;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.top__numbers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.about {
    margin: 120px 135px;
    background-color: #FBFBFB;
    display: flex;
    gap: 30px;
    padding: 0;
}

.about__left {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}

.right_image {
    align-self: center;
}

.about__right {
    padding: 30px 70px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__title,
h2 {
    color: #BDBDBD;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.about__text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.about_button {
    position: relative;
    border-color: transparent;
    align-self: flex-start;
}

.left_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.about_bottom {
    margin-bottom: -20px;
}

.main {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.main__title {
    color: #BDBDBD;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.main__blocks,
.main__left,
.main__right {
    display: flex;
}

.main__blocks {
    gap: 187px;
}

.main__left,
.main__right {
    gap: 30px;
    align-items: center;
}

.main__blocks {
    padding-bottom: 120px;
}

.main__blocks-text {
    color: #333;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

/* ----- START page Our Projects --------------------------------------------------------------------------------------------------------------------- */

.main__ourprojects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 63px;
}

.main__second-title {
    padding-bottom: 30px;
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
    margin-bottom: 29px;
}

.section.block {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sectionblock {
    display: flex;
    background-color: #FBFBFB;
}

.sectionblock__images {
    display: flex;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.sectionblock__title {
    color: #BDBDBD;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 30px;
}

.sectionblock__text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    padding-top: 73px;
    padding-right: 70px;
    padding-bottom: 0px;
}

.inside_img {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #333;
    padding: 30px 49px 23px 20px;
    background-color: white;
    border-color: transparent;
}

.inside_img:hover {
    transform: scale(1.2);
}

.sectionblock_button {
    position: relative;
    border-color: transparent;
    align-self: flex-start;
    margin: 64px 248px 30px 0;
}

.sectionblock__numbers {
    display: flex;
    align-items: center;
    gap: 26px;
    background-color: transparent;
}

.sectionblock__buttons {
    display: flex;
    align-items: center;
    gap: 23px;
    background-color: transparent;
}

.sectionblock_bottom {
    display: flex;
    align-items: center;
    gap: 29px;
    padding-bottom: 120px;
}

/* ----- END page Our Projects------------------------------------------------------------------------------------------------------------------------ */

/* ----- START page Sample Project --------------------------------------------------------------------------------------------------------------------- */
.topp {
    display: flex;
    flex-direction: column;
    padding-top: 63px;
    padding-bottom: 60px;
    gap: 30px;
}

.topp__title_1 {
    color: #BDBDBD;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    padding-top: 63px;
}

.topp__second-title_1 {
    padding: 0;
    color: #333;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.topp__top_1 {
    display: contents;
    padding-top: 60px;
}

.topp__center_1 {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.main_text_1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    overflow: auto;
    max-height: 428px;
}

.topp__end_1 {
    display: contents;
    gap: 30px;
    padding-top: 30px;
    width: 1170px;
    height: 435px;
}

/* ----- END page Sample Project------------------------------------------------------------------------------------------------------------------------ */

/* ------ START page CERTIFICATIONS and CONTACTS--- */
.main-certifications__block {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-certifications {
    padding-top: 63px;
}

.main-contacts__contacts-block {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    gap: 177px;

}

.main-contacts__left {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main-contacts {
    padding-top: 63px;
}

.title-second {
    padding-bottom: 34px;
}

.main-contacts__block-name {
    padding-top: 34px;
}

.main-contacts__name {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-contacts__address {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 141%;
}

.main-contacts__tel {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 44px;
}

.main-contacts__mail {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 53px;
    margin-bottom: 33px;
}

.contact-us {
    margin-bottom: 112px;
    text-align: center;
    width: 222px;
}

.main-contacts__right {
    padding-top: 50px;
    margin-bottom: 120px;
    display: flex;
    min-width: 50vw;
    min-height: 30vh;
}

/* -----------END page CERTIFICATIONS and CONTACTS-- */

.project {
    display: grid;
    grid-row: 1fr 4fr 1fr;
    /*что это? */
}

.project__title {
    padding-bottom: 60px;
}

.project__cover-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}

.project__cover {
    background-image: linear-gradient(to right, rgba(76, 76, 76, 1) 0%, rgba(74, 74, 74, 0.65) 49%, rgba(76, 76, 76, 0.65) 100%), url(../assets/image/Rectangle12.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 79px;
}

.project__cover-button {
    color: #FFF;
    background-color: transparent;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding-top: 14px;
}

.project__cover-button::after {
    content: url(../assets/image/ico-shape.svg);
    padding-right: 20px;
}

.project__gallery {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
}

.project__gallery img {
    width: 100%;
    max-width: 100%;
}

.project__gallery div:nth-child(2) {
    grid-column: 7/13;
}

.project__gallery div:nth-child(3) {
    grid-column: 1/span 3;
}

.project__gallery div:nth-child(4) {
    grid-column: 4/span 5;
}

.project__gallery div:last-child {
    grid-column: 9/ 13;
}

.button {
    background-color: #333;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 30px 39px;
    border: none;
}

.button:hover {
    background-color: #1a1717;
}

.project__button::after,
.contacts__button::after {
    content: url(../assets/image/ico-shape.svg);
    padding-left: 10px;
}

.project__button {
    justify-self: end;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.contacts__title {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-bottom: 22px;
}

.contacts__form {
    grid-column: 1/2;
    grid-row: 2/3;
}

.contacts__image {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    max-width: 100%;
}

.contacts__button {
    width: 222px;
    height: 71px;
    cursor: pointer;
}

input,
textarea {
    background-color: #F3F3F3;
    color: #8D8D8D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    width: 100%;
    border: none;
}

input {
    padding: 15px 0 15px 21px;
    margin-bottom: 10px;
}

textarea {
    padding: 15px 0 0 21px;
}

.footer {
    background-color: #2C2C2C;
    color: white;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 3fr;
    grid-template-rows: 3fr 1fr;
    padding-top: 58px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    overflow: hidden;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-nav {
    padding-left: 70px;
}

.footer__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 25px;
}

.footer-nav__item {
    padding-bottom: 16px;
}

.footer-nav__item:last-child {
    padding-bottom: 60px;
}

.footer li {
    list-style-type: none;
}

.footer-social__item {
    margin-right: 40px;
}

.footer-social__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.footer-social__image {
    fill: #F2F2F2
}

.footer-social__image:hover {
    fill: #8D8D8D;
}

.footer__logo:hover {
    padding: 10px;
    border: 2px solid white;
}

.footer-contacts__address {
    font-style: normal;
}

.footer-contacts__address div::before {
    content: url(../assets/image/point.svg);
    padding-right: 19px;
}

.footer-contacts__address p {
    padding-left: 33px;
}

.footer-contacts__address a::before {
    content: url(../assets/image/phone.svg);
    padding-right: 14px;
}

.footer-contacts__mail::before {
    content: url(../assets/image/mail.svg);
    padding-right: 14px;
}

.footer-contacts__address div,
.footer-contacts__address {
    padding-bottom: 32px;
}

.footer__copy {
    color: rgba(200, 200, 200, 0.50);
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 -8.4rem;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .top__titles {
        padding-top: 80px;
    }

    .top__title {
        font-size: 40px;
        line-height: 32px;
    }

    .top__second-title {
        font-size: 40px;
    }

    .about {
        margin: 0;
        padding-top: 30px;
    }

    .about__left {
        flex-wrap: wrap;
    }

    .about__right {
        justify-content: center;
    }

    .main__blocks {
        gap: 30px;
    }

    .main__blocks-text {
        font-size: 18px;
    }

    .project__cover-title {
        font-size: 48px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer__logo {
        padding-right: 30px;
    }

    .footer-social {
        padding-left: 30px;
    }

    .footer-social__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .footer__copy {
        margin: 0 -30px;
    }

    .main-contacts__contacts-block {
        flex-direction: column;
    }

    .main__ourprojects {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content {
        padding-left: 40px;
    }

    .section.block {
        margin: 0;
        align-items: center;
        gap: 30px;
    }

    .sectionblock__images img {
        width: 100%;
    }

    .line {
        margin: 0;
    }

    .sectionblock {
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        align-items: center;
    }

    .sectionblock__title {
        font-size: 40px;
    }

    .main__first-title {
        padding-top: 30px;
        font-size: 40px;
    }

    .main__second-title {
        font-size: 40px;
        padding-bottom: 30px;
    }

    .sectionblock_bottom {
        padding-top: 30px;
    }

    .topp {
        padding-left: 30px;
        padding-right: 30px;
    }

    .topp__title_1 {
        padding-top: 80px;
        font-size: 40px;
    }

    .topp__second-title_1 {
        font-size: 40px;
    }

    .topp__top_1 {
        flex-wrap: wrap;
    }

    .topp__center_1 {
        justify-content: center;
    }

    .main_text_1 {
        font-size: 18px;
    }

    .topp__end_1 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header {
        gap: 10px;
    }

    .header__nav {
        gap: 20px;
    }

    .header__list {
        font-size: 10px;
        font-weight: 300;
    }

    .top {
        gap: 5px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .top__titles {
        padding-top: 30px;
    }

    .top__title {
        font-size: 30px;
        line-height: 24px;
    }

    .top__second-title {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .top__buttons,
    .top__numbers {
        display: none;
    }

    .top__right {
        margin: 0;
    }

    .about {
        margin: 0;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .about__left {
        flex-direction: column;
    }

    .main {
        padding-top: 30px;
    }

    .main__title {
        word-break: break-word;
        font-size: 54px;
    }

    .main__blocks {
        flex-direction: column;
    }

    .contacts,
    .project__gallery {
        display: flex;
        flex-direction: column;
    }

    .project__cover-title {
        font-size: 36px;
        padding-top: 20px;
    }

    .contacts__image {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-left: 30px;
    }

    .footer__logo {
        display: none;
    }

    .footer-nav {
        padding: 0;
    }

    .footer-nav,
    .footer-contacts,
    .footer-social {
        text-align: center;
    }

    .footer-social {
        padding-top: 60px;
    }

    .footer-social__list {
        padding-bottom: 30px;
    }

    .footer__title {
        text-align: center;
    }

    .topp {
        padding-left: 5px;
        padding-right: 5px;
    }

    .topp__title_1 {
        padding-top: 30px;
        font-size: 30px;
    }

    .topp__second-title_1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .topp__top_1 {
        max-width: 100%;
    }

    .topp__center_1 {
        justify-content: center;
        margin: 0;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .main_text_1 {
        justify-content: center;

    }

    .topp__end_1 {
        max-width: 100%;
    }

    .main-contacts__contacts-block {
        flex-direction: column;
    }

    .main__ourprojects {
        padding: 0 5px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .line {
        margin: 0;
        margin-bottom: 0;
    }

    .content {
        padding-left: 40px;
    }

    .section.block {
        margin: 0;
        align-items: center;
        gap: 30px;
    }

    .sectionblock__images img {
        width: 100%;
    }

    .sectionblock {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .main__first-title {
        font-size: 30px;
    }

    .main__second-title {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .sectionblock_bottom {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .sectionblock__title {
        font-size: 30px;
    }

    .sectionblock__text {
        padding: 30px 70px 0 0;
    }

    .inside_img {
        margin: 35px 0 30px 0;
    }
}

/* ------ START page Gallery--- */
.main_container {
    display: grid;
    width: 1170px;
    padding: 100px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 60px;
    grid-row-gap: 1em;
    padding-top: 1%;
}

.top__title1 {
    width: 387px;
    color: #BDBDBD;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    padding-top: 63px;
    padding-left: 100px;
}

.top__second-title1 {
    color: black;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    padding-left: 100px;
}

.top__buttons1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
    gap: 23px;

}

.top__numbers1 {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 100px;
}

.main-contacts__contacts-block {
    flex-direction: column;
}